<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>

  
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Credit Card Default Prediction </title>

</head>
<body background="img/card">

<div class="login">
<h1>WELCOME</h1>
<font size="8"color="orange">Credit Card Default Prediction</font>
<h2>Credit Card Content</h2>
<img src="Credit_C.png" style="width:450px; height:300; border-radius: 14px;">

  <!--All Data Input For Receving Query To Our ML -->
 <form action ="{{ url_for('predict')}}"method="post" >
  <input type ="text"name ="Limit_Bal" placeholder="Limit_Bal"required="required"/><br>
    <input type ="text"name ="AGE" placeholder="AGE" /><br>
    <input type ="text"name ="PAY_0" placeholder="PAY_0"required="required"/><br>
    <input type ="text"name ="PAY_2" placeholder="PAY_2"required="required"/><br>
    <input type ="text"name ="PAY_3" placeholder="PAY_3"required="required"/><br>
    <input type ="text"name ="PAY_4" placeholder="PAY_4"required="required"/><br>
    <input type ="text"name ="PAY_5" placeholder="PAY_5"required="required"/><br>
    <input type ="text"name ="PAY_6" placeholder="PAY_6"required="required"/><br>
    <input type ="text"name ="BILL_AMT1" placeholder="BILL_AMT1"required="required"/><br>
    <input type ="text"name ="BILL_AMT2" placeholder="BILL_AMT2"required="required"/><br>
    <input type ="text"name ="BILL_AMT3" placeholder="BILL_AMT3"required="required"/><br>
    <input type ="text"name ="BILL_AMT4" placeholder="BILL_AMT4"required="required"/><br>
    <input type ="text"name ="BILL_AMT5" placeholder="BILL_AMT5"required="required"/><br>
    <input type ="text"name ="BILL_AMT6" placeholder="BILL_AMT6"required="required"/><br>
    <input type ="text"name ="PAY_AMT1" placeholder="PAY_AMT1"required="required"/><br>
    <input type ="text"name ="PAY_AMT2" placeholder="PAY_AMT2"required="required"/><br>
    <input type ="text"name ="PAY_AMT3" placeholder="PAY_AMT3"required="required"/><br>
    <input type ="text"name ="PAY_AMT4" placeholder="PAY_AMT4"required="required"/><br>
    <input type ="text"name ="PAY_AMT5" placeholder="PAY_AMT5"required="required"/><br>
    <input type ="text"name ="PAY_AMT6" placeholder="PAY_AMT6"required="required"/><br>


    <button type ="submit"class ="btn11"  >Predict</button>
 </form>

</div>


 <h2>{{ prediction_text }}</h2>   
<font size="6"color="black">Thanks For Visiting</font>



 <style>
        body {
            background-color: lightgray;
            text-align: center;
            padding: 0px;
        }

      

 </style>
        
</body>
</html>